header {
    width: 100%;

    div {
        width: 100%;
        justify-content: space-between;
        display: flex;

        align-items: center;
        & button {
            width: 200px;
            height: 50px;

            color: rgb(169, 167, 167);
            background-color: #213547;
            border: none;
            text-align: center;
        }
        button:hover {
            color: #747bff;
        }
    }
}
.color-switch-box {
    width: 90%;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}
/* .picWrapper {
    height: 200px;
} */
/* .nepal {
    color: black;
} */
filter-wrapper {
    padding: 7px;
    display: flex;

    justify-content: space-between;

    & input {
        width: 200px;
        height: 50px;
        color: rgb(169, 167, 167);
        border: none;
        background-color: #213547;
        text-align: center;
    }

    & select {
        width: 200px;
        height: 50px;
        color: rgb(169, 167, 167);
        border: none;
        background-color: #213547;
        text-align: center;
    }
}
.countriesItems {
    display: flex;
    flex-direction: column;
    border: solid 2px #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
    background-color: #213547;
    & img {
        width: 100%;
        height: auto;
        border-color: antiquewhite;
    }
}
